[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
marshmallow-sqlalchemy = "*"
python-dotenv = "*"
flask-marshmallow = "*"
marshmallow = "*"
flask-migrate = "*"
flask-jwt-extended = "*"
gunicorn = "*"
passlib = {extras = ["bcrypt"], version = "*"}
psycopg2 = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.11"
